* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-toolbar {
  background-color: #12847c;
  height: 15%;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-form-input {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 250px;
  outline: none;
  background: #f7fafc;
}

.search-form-button {
  width: 50px;
  padding: 10px;
  background: #92c9c2;
  color: rgb(1, 23, 33);
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.search-form-button:hover {
  background: #bbf4f4ce;
}

.search-form::after {
  content: '';
  clear: both;
  display: table;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 25px;
}

.photo-card {
  flex-flow: column;
  flex-wrap: wrap;
  margin-right: 20px;
}

.photo-card:not(:last-child) {
  margin-right: 20px;
 }

.photo {
  display: block;
  width: 300px;
  height: 200px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 300px;
  font-size: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid  #92c9c2;
  border-left: 1px solid #92c9c2;
  border-right: 1px solid  #92c9c2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.info-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px;
}

.info-item-api {
  padding-top: 5px;
}

.load-more {
  display: flex;
  margin: 0px auto 20px;
  padding: 10px 20px;
  text-align: center;
  /* font-weight: bold; */
  /* font-size: large; */
  color: rgb(255, 255, 255);
  background-color: #12847c;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

